<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:object="${haoma}" th:action="@{/start/start-second}" method="post">
        数字を入れてください<br>
        <div th:errors="*{left}" style="color: red;"></div>
        <input type="text" name="left" id="">➕
        <div th:errors="*{left}" style="color: red;"></div>
        <input type="text" name="right"> =<br>
        <input type="submit" value="計算">
    </form>
</body>
</html>